/* src/css/Nav.css */

.navbar {
    background-color: #400842;
    padding: 1rem;
  }
  
  .navbar-brand, .nav-link {
    color: #fff;
    text-decoration: none;
  }
  
  .nav-link:hover {
    color: #ddd;
  }
  